html {
box-sizing: border-box;
}
*:before;
*::after {
    box-sizing: border-box;
}

#body{
    background-color: #ffffff;
    margin: 0 auto;
}

.menu{
    margin: 0;
    padding: 0;
    font-size: 30px;
    list-style: none;

}
.menu li{
    display: inline-block;
    margin-left: 90px;
    vertical-align: middle;
    
}

.menu li:not(:last-child){
    margin-right: 60px;
}
.container {
    width: 1100px;
    margin: 0 auto;
    background: #ffffff;

}

article {
    margin: 10px;
    width: 500px;
    border: 20px;
    display: inline-block;
}
.step{
    display: inline-block;
     margin-left: 60px;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}
h2 {
    margin: 30px;
}
.page {
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
}
.button {
    background-color: #ffffff;
    margin: 50px auto 0;
    display: block;
    padding: 30px;
    font-size: 30px;

    
}
