

html {
box-sizing: border-box;

}
*:before;
*::after {
    box-sizing: border-box;
}
.header {
    margin-bottom: 105px;
    padding-top: 80px;
    border: 10px;
    margin: 0auto;
}
ul {
    font-size: 0;
}

#body{
    background-color: #ffffff;
    margin: 0 auto;
}

.menu{    
    margin: 0 auto;
    padding: 0;
    font-size: 0;
    list-style: none;
    width: 500px;
    margin: 0 auto;
}

.menu li{
    /* background: #ffffff; */
    display: inline-block;
    margin-right: 100px;
    list-style: none;
}


.menu li:last-child {
    margin-right: 0px;
}
 
.menu a {
    font-size: 16px;
    text-decoration: none;    
}

.container {
    width: 900px;
    margin: 0 auto;
    /* background: #ffffff; */
    list-style: none;
    font-size: 0px;

}

article {
   /* margin: 10px; */
    margin-right: 60px;
    width: 420px;
    /* border: 20px; */
    display: inline-block;
}
article:nth-child(2n) {
    margin-right: 0px;
}
.step{
    display: inline-block;
     /*margin-left: 60px;*/
     margin: 0 auto;
}

img {
   
    display: block;
    height: auto;
    max-width: 100%;
    margin-bottom: 18px;
}
p {
    margin-bottom: 18px;
    margin: 0 auto;
}
.page {
  margin: 0px;
    font-size: 15px;
    text-decoration: none;
    /* margin-bottom: 3px; */


}
.button {
    vertical-align: center;
    background-color: #ffffff;
    margin: 0 auto 50px auto;
    height: 58px;
    width: 158px;
    border-width: 1px;
    border-color: rbg (98,98,98);
    color: #626262;
    font-size: 20px;
    font-weight: 400px;
    line-height: 20px;
    display: block;
    padding: 30px;
    font-size: 20px;
    
    
}

.button:hover {
    background: rgb(70, 33, 235));
}

.h{
    font-size: 16px;
    margin-bottom: 18px;
}
.text{
    margin-bottom: 18px;
    /* margin: 0px; */
    font-size: 15px;
}
 .p {   
    margin: 0;
}  

